@import "../../assets/styles/utils";

:host {
  display: flex;

  .panel {
    position: relative;
    width: 320px;
    height: 160px;
    display: flex;
    flex-direction: column;
    background-color: $dark-background;
    color: $primary-white;
    box-sizing: border-box;
    padding: 16px;
  }

  .download-btn {
    margin: 16px 0 0 16px;
  }
}
