<app-basic-template [name]="'config'">
  <h2 class="title">CONFIG</h2>
  <p><span>Carte mère</span> MSI Z370-A PRO</p>
  <p><span>GPU</span> Intel Core i5-8600K</p>
  <p><span>CPU</span> MSI GeForce GTX 1070 Ti Aero</p>
  <p><span>RAM</span> 2x8 Go DDR4 2666 MHz Corsair</p>
</app-basic-template>

<app-basic-template [name]="'gear'">
  <h2 class="title">GEAR</h2>
  <p><span>Caméra</span> Logitech C920</p>
  <p><span>Casque</span> Steelseries Arctis 5</p>
  <p><span>Clavier</span> SteelSeries Apex M750</p>
  <p><span>Souris</span> &nbsp; Steelseries Rival 110</p>
</app-basic-template>

<app-basic-template [name]="'discord'">
  <h2 class="title">DISCORD</h2>
  <p>L'endroit indispensable pour chatter et parler vous et moi</p>
  <img src="../assets/images/discord-logo-color.png" alt="discord logo">
</app-basic-template>
