@import "../assets/styles/utils";

:host {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  > app-basic-template {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .title {
    margin-bottom: 4px;
    font-weight: lighter;
  }

  img {
    position: absolute;
    bottom: 4px;
    right: 8px;
    width: 60px;
    height: 60px;

    &.discord-logo {
      width: 70px;
      height: 70px;
    }
  }
}
